<app-header
  [fio]="name"
  (event)="qaz = $event">
  <p [ngStyle]="{'position': 'absolute', 'margin-left': '-670px', 'margin-top': '10px', 'font-family': 'Alfa Slab One', 'color': '#6c2401', 'font-size': '36px',
  'text-align': 'center'}" *ngIf="qaz.length != null">{{qaz}}</p>
  <a href="#" *ngIf="userImage.length != 0; else enother"><img class="coshAccountHover"
      [ngStyle]="{'border-radius': '50%', 'border': '1px solid #D84B04'}" [src]="userImage" alt="" width="70" height="70"></a>

  <ng-template #enother>
    <a href="#"><img class="coshAccountHover" src="assets/siteStyle/iconAccount.png" alt="" width="70" height="70"></a>
  </ng-template>
</app-header>




<router-outlet></router-outlet>




<app-left-nav-bar
  [menuNav]="menuNav"
  (event)="menuNav"></app-left-nav-bar>
<app-fotter
  [menuNav]="menuNav"
  (event)="menuNav"></app-fotter>


