.example-card-first {
  max-width: 400px;
  min-width: 200px;
  margin-bottom: 8px;
}

.example-card-second {
  max-width: 600px;
  min-width: 300px;
  margin-bottom: 8px;
  margin-left: 25%;
}

mat-card{
  background-color: #0f4040;
  color: #ecf0f3;
}

mat-card img{
  width: 100px;
  height: 100px;
}

.main{
  width: 1140px;

  padding-bottom: 200px;

  margin: auto;
  padding-top: 160px;
  margin-bottom: -150px;
  background-color: rgba(255, 0, 0, 0);

  justify-content:center;
}

a{
  cursor: pointer;
}
.name{
  background-color: rgba(255, 81, 0, 0);
  height: 50px;
  width: 290px;
  margin: auto;
  margin-top: 70px;
  font-size: 30px;
  margin-bottom: 50px;

  font-family: 'Alfa Slab One', cursive;
  color: #042C2C;
  font-weight: normal;
}

.changeImg{
  background-image: url(src/assets/siteStyle/list.png);
  background-position: center;
  border-radius: 1px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.changeImg2{
  background-image: url(src/assets/siteStyle/table.png);
  overflow: hidden;
  background-position: center;
  background-size: 55px 55px;
}


.coshAccountPosition{
  position: absolute;
  margin-left: 1050px;
  margin-top: -10px;
}
.coshAccountHover:hover{
  transform: rotate(360deg);
  transition: 1s;
}




